<label htmlFor="{{name}}" class="{{styles.input}}">
  <p class="{{styles.input-title}}">{{title}}</p>
  <input type="{{type}}" class="{{styles.input-value}}" name="{{name}}"/>
  <div class="{{styles.input-divider}}"></div>
  <p class="{{styles.input-error}}"></p>
</label>