<label htmlFor="{{name}}" class="{{styles.input}}">
  <p class="{{styles.input__title}}">{{title}}</p>
  <input type="{{type}}" class="{{styles.input__value}}" name="{{name}}"/>
  <div class="{{styles.input__divider}}"></div>
  <p class="{{styles.input__error}}"></p>
</label>