
<form class="{{styles.form}}">
 <p class="{{styles.form__title}}">{{title}}</p>
  {{#each inputs}}
        {{{this}}}
  {{/each}}
  <div class="{{styles.buttons}}">
    {{{submit}}}
    {{{button}}}
  </div>
</form>
 