<div class="{{styles.chat-preview}}">
  <div class="{{styles.image}}"></div>
  <div class="{{styles.info}}">
    <div class="{{styles.info__title}}">{{title}}</div>
    <div class="{{styles.info__description}}">{{description}}</div>
  </div>
  <div class="{{styles.extra-info}}">
    <div class="{{styles.extra-info__time}}">{{time}}</div>
    <div class="{{styles.extra-info__count}}">{{count}}</div>
  </div>
</div>
