<li class="{{styles.settings__item}}">
  <div class="{{styles.settings__input}}">
    <label htmlFor="{{name}}" class="{{styles.settings__item-title}}">{{title}}</label>
    <input {{#if disabled}} disabled {{/if}} name="{{name}}" type="{{type}}" class="{{styles.settings__item-value}}" value="{{value}}"/>
  </div>
  <p class="{{styles.input-error}}"></p>
</li>
    