<li class="{{styles.settings__item}}">
  <label htmlFor="{{name}}" class="{{settings__item-title}}">{{title}}</label>
  <input {{#if disabled}} disabled {{/if}} name="{{name}}" type="{{type}}" class="{{settings__item-value}}" value="{{value}}"/>
</li>
    